/**
 * COLORS
 */
.c0 {
  color: $color-c0;;
}

.c1 {
  color: $color-c1;
}

.c1-border {
  border-color: $color-c1;
}

.c1-bg {
  background-color: $color-c1;
}

.c2 {
  color: $color-c2;
}

.c2-border {
  border-color: $color-c2;
}

.c2-bg {
  background-color: $color-c2;
}

.c3 {
  color: $color-c3;
}

.c3-border {
  border-color: $color-c3;
}

.c3-bg {
  background-color: $color-c3;
}


