/**
 * FORMS
 */
fieldset + fieldset {
  margin-top:2em;
}

aside,
fieldset aside {
  background-color: #797979;
  color: white;
  line-height: 1.2;
  padding: 1em;
}
/* provide space between <aside> and input fields
   on smaller resolutions
*/
@media (max-width: 992px) {
  aside {
    margin-top: 15px;
  }
}
aside h4 {
  color: white;
}

/* including #task-form to test for adverse effects */
#task-form label {
  display: block;
}


