.navigation .navbar-brand {
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-position: left center;
  width: 256px;
  height: 60px;
  margin-top: 6px;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dppx) {
    .navbar-brand {
         background-image: url(/images/logo@2x.png);
    }
}

.navbar {
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

.navbar-default .navbar-brand {
  color: $color-c1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f0f0f0;
  background-color: transparent;
}

.navbar-default .navbar-text {
  color: $color-c1;
}

.navbar-default .navbar-nav > li > a {
  color: $color-c1;
  text-shadow: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $color-c1;
  background-color: #f0f0f0;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #D63A25;
}

.navbar .nav .navbar-divider {
  background-color: $color-c1;
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}

