  <div class="container-fluid padding-left-none padding-right-none">
    <div class="splash-wrap" id="splash1">
      <div class="splash-center">
      <h1 class="text-center" data-i18n="home.headline">Hassle Free Collaboration</h1>
      <p class="lead text-center" data-i18n="home.subhead">Work with other federal employees on projects you are passionate about.</p>
      <hr/>
      <p class="tagline text-center" data-i18n="home.tagline">Building a 21st century government, together</p>
      <div class="text-center"><a class="login" href="/auth"><button class="btn btn-midas" id="center" data-i18n="home.callToAction">Get Started Today</button></a></div>
      <!--div class="text-center text-on-dark text-muted"><a href="#">Learn More</a></div-->
    </div><!-- /#splash -->
    </div><!-- /.splash-wrap -->
  </div><!-- /.container-fluid-->

  <div class="container-fluid padding-left-none padding-right-none why">
    <h2>Why do people get involved?</h2>
    <div class="value-prop col-md-4">
        <div class="icon"><i class="fa fa-comments"></i></div> <!-- icon -->
        <div class="title">Make Connections</div>
        <div class="text">Your new colleagues
          may be down the hall or
          across the country.
        </div>
      </div>
    <div class="value-prop col-md-4">
        <div class="icon"><i class="fa fa-cogs"></i></div> <!-- icon -->
        <div class="title">Build Skills</div>
        <div class="text">Advance your career
          by developing new
          skills and experience.
        </div>
      </div>
    <div class="value-prop col-md-4">
        <div class="icon"><i class="fa fa-line-chart"></i></div> <!-- icon -->
        <div class="title">Make a Difference</div>
        <div class="text">Join a coast-to-coast
          network solving
          needs across government.
        </div>
      </div>
  </div>
  <div class="container-fluid padding-left-none padding-right-none how">
    <h2>How does it work?</h2>
    <div class="col-md-8">
      <img class="img-responsive" src="/images/home/how-to@2x.png">
    </div>
    <div class="col-md-4">
      <ol class="list-unstyled">
        <li class="title">Browse opportunities on the site to find the one that is right for you.</li>
        <li class="title">Then just click "I'm in" to get started.</li>
        <li class="title">Post a discussion topic if you have questions.</li>
      </ol>
    </div>
  </div>
  <div class="container-fluid padding-left-none padding-right-none final-call">
    <div class="text-center col-md-8 col-md-offset-2">
      <p class="title">Find Open Opportunities that match your skills or let you explore new horizons while make an impact across government.</p>
      <a class="login" href="/auth">
        <button class="btn btn-midas" id="center">Discover More</button>
      </a>
    </div>
  </div>
