$color-c0: #6c6c6c;
$color-c1: #dd361a;
$color-c2: #297bb5;
$color-c3: #39b7ea;
$color-h5: #818991;
$color-h6: #2e4d4c;

@import 'theme/elements',
        'theme/components/borders',
        'theme/components/tags',
        'theme/components/colors',
        'theme/components/forms',
        'theme/components/buttons',
        'theme/components/thumbnails',
        'theme/components/alert',
        'theme/components/progress',
        'theme/components/navigation',
        'theme/components/list',
        'theme/components/panel',
        'theme/components/dropdown';
