/*****************
=  Home
******************/

#container.home {
  padding:0px;
  margin:0px;
  width:100%;
}

#container.home #splash1 {
  background-image: url('/images/home/hero.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.splash-wrap {
  position: relative;
  height: 400px;
}

.home {
  background-color: #fff;
}

.home .splash-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  padding: 10px 20px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.home .splash-center h1 {
  color: white;
}

.home .tagline {
  font-weight: 400;
  font-size: 18px;
}

.btn-midas {
  background: #dd361a;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.btn-midas:hover,
.btn-midas:focus {
  background: #c63017;
  color: white;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.btn-midas:active {
  color: #eee;
}

.home .why {
  background-color: #428bca;
}

.home .final-call {
  padding: 60px;
  background-color: #e5e5e5;
}
.home .final-call .title {
  font-size: 28px;
}

.home h2 {
  color: white;
  margin: 60px 60px 40px;
  font-weight: 900;
  font-size: 22px;
}

.value-prop {
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding: 0px 50px 60px 50px;
  margin: 0 auto;
}

.home .title {
  font-size: 22px;
  font-weight: 400;
  padding: 16px 0px;
}

.value-prop .text {
  font-size: 18px;
  line-height: 22px;
  padding-top: 10px;
}


.value-prop .icon {
  display: block;
  margin-bottom: 10px;
}

.how > div {
  padding: 0px 50px 60px 50px;
}
.how h2 {
  color: #333;
}
.how li {
  font-weight: bold;
}
.home + #footer {
  background-color: white;
}

@media screen and (min-width: 320px) {
  .value-prop .icon {
    font-size: 60px;
    line-height: 60px;
  }
}
@media screen and (min-width: 992px) {
  .value-prop .icon {
    font-size: 96px;
    line-height: 96px;
  }
}

.export-button {
   font-size: 1.5em;
   line-height: 34px;
 }

 .nav-tabs > .export-button {
   line-height: 42px;
 }


